/* #a
{
 
    text-align: center;
    height:1000px;
    width:400px;
    transform: translate(500px,0px);
    
   
        
      
}
#b{
    text-align: center;
    color: rgb(16, 16, 16);
     transform: translate(0px,200px);
     height:100px;
     width:250px;
     padding: 5cm;
     border-radius: 50px;
     background-image: linear-gradient(orange, white ,green);
    
}
#pic{
    height: 50px;
    width:150px;
    transform: translate(0px,-50px);
}
#head{
    transform: translate(0px,-100px);
}
.ma:hover{


color: white;
background-color: blue; /* Green */

/* }
.ma {
    transition-duration: 0.4s;
    height: 50px;
width: 100px;
font-size: medium;
background-color: aquamarine;
  }
    */
    #main{
        text-align: center;
        color: rgb(16, 16, 16);
        background-color:blue;
        
         transform: translate(500px,150px);
         height:200px;
         width:250px;
         padding: 3cm;
         border-radius: 50px;
        
    }
    #align{
        text-align: center;
        height:710px;
        width:1470px;
        
        background-image: linear-gradient(orange, white ,green);
        transform: translate(00px,0px);
    }
    #man{
        color: rgb(255, 0, 255);
        text-decoration: double;
        background-color: rgb(255, 251, 25);
        transform: translate(30px,100px);
    
    }
    #photo{
        height: 50px;
        width:150px;
        transform: translate(10px,-100px);
    }
    #sig{
        position: absolute;
        transform: translate(-20px,60px);
    
    }
    #f1{
        position: absolute;
        transform: translate(40px,-100px);
    }
    .al{
        height: 30px;
        width: 200px;
        
    }
    .l{
        color: white;
        
    }
    .man:hover{
    
    
        color: white;
        background-color: purple; /* Green */
        
        }
        .man {
            position: absolute;
            transition-duration: 0.4s;
            height: 30px;
        width: 100px;
        font-size: medium;
        background-color:white;
        transform: translate(-20px,60px);
          }
          #wd{
            position: absolute;
            transform: translate(650px,10px);
            color: white;
          }