@keyframes bgcolor {
    0% {
      background-image: linear-gradient(to right, #DECBA4, #3E5151);
    }
  
    20% {
      background-image: linear-gradient(79deg,red, #C66FBC 48%, black);
    }
  
    40% {
      background-image: linear-gradient(79deg, #7439db, #C66FBC 48%, #F7944D);
    }
  
    60% {
      background-image: linear-gradient(to right, #8360c3, #2ebf91);
    }
  
    80% {
      background-image: linear-gradient(to right, #fffbd5, #b20a2c);
    }
    100%{
      background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
  
    }
  }
  
  
  #kk {
    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
   text-align: center;
height: 700px; 
}